
body, div, ul, li, a, span {
    font-family: 'Cabin';
    font-style: normal;
}

a {
    text-decoration: none;
}

.container {
    width: 1296px;
    margin: 0 auto;
    padding: 0;    
}


.header__fixed-block-bg {
    position: fixed;
    background-color: #10BBD5;
    width: 100%;
    z-index: 1;
    
}

.header__logo-bg {
    background-color: inherit;
   
}

.header__logo-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    height: 72px;
}

.header__logo-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;

    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;

}

.cart-button {
    position: relative;
    background-image: url('../img/cart_icon.png');
    height: 40px;
    width: 40px;
    background-color: inherit;
    background-position: center center;
    background-size: contain;
    cursor: pointer;
    border-style: none;
}

.cart-button span {
    position: absolute;
    background-color: #F8FDFE;
    top: 12px; 
    left: 30%;  
    transform: translateX(50%);
    padding: 0 2px;
    
    color: #000;  
    font-family: 'Cabin';
    font-size: 12px;
    font-weight: 400;
    line-height: 10px; 
}

.header__nav-bg {
    background-color: #FFFFFF;
    
}

.header__nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    height: 32px;

    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.header__nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 40px; 
}

.header__nav-list a {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}


.main {
    padding-top: 94px;
    background-color: #EEEEEF;
    position: relative;
}

.chat-button {
    position: fixed;
    height: 64px;
    width: 64px;
    top: 50%;
    right: 0;
    z-index: 2;
    border-style: none;
    background-color: rgba(255, 255, 255, 0);
    background-image: url('../img/Chat-btn-bg.svg');
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;    
}



.main__title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 95px;         
    border-bottom: 1px solid #A8A8A8;
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.25;
}

.main__grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 512px;
    gap: 24px;
    padding: 24px 0 120px 0;
    position: relative;
}

.main__card {
    
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #F8FDFE;
    min-width: 306px;
    gap: 20px;
}

.card__image-box {
    position: relative;
    display: flex;
    justify-content: center;
    height: 62%;
}

.card__image-box img {
    display: block;
    max-height: 100%;
}


.label-box {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    gap: 4px;
       
    justify-content: center;
    align-items: center;     
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

.label-hit {
    display: block;
    background-color: #4200FF;
    min-height: 32px;
    min-width: 36px;
    border-radius: 4px;
    padding: 4px 8px;
   
}

.label-new {
    display: block;
    background-color: #AF39E7;
    min-height: 32px;
    min-width: 36px;
    border-radius: 4px;
    padding: 4px 8px;
}

.label-discount {
    display: block;
    background-color: #EA33C0;
    min-height: 32px;
    min-width: 36px;
    border-radius: 4px;
    padding: 4px 8px;
}


.card__content-box {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    height: 32%;  
}


.card-name {
    width: 100%;
    border-bottom: 1px solid #8E8E8E;
  
    color: #1F1F1F;
    font-family: Cabin;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.4; 
}

.card-author {
    overflow: hidden;
    color: #8E8E8E;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 8px;
}

.card-price-box {
    display: flex;
    column-gap: 24px;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;   
}

.card-price {     
    color: #E90000;
}

.card-discount {
    color: #8E8E8E;    
}


.card-button {
    position: absolute;
    bottom: 0; 
    align-self: center;   
    display: flex;    
    width: 100%;
    
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    
    font-size: 16px;    
    font-weight: 400;
    line-height: 24px;    
    color: #F8FDFE;
}

.card-button--1 {
    background-color: #4C394E;
}

.card-button--2 {
    background-color: #4D762D;
}


.footer {
    background-color: #4C394E;
}


.footer__wrapper {
    
    min-height: 88px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;    
        
    color: #F8FDFE;    
    font-size: 16px;    
    font-weight: 400;
    line-height: 1.5;    
}






 